<div class="container">
  <table mat-table [dataSource]="routes" multiTemplateDataRows class="mat-elevation-z0">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell class="main-header" *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date" >
      <th mat-header-cell class="main-header" *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>

    <!-- Length Column -->
    <ng-container matColumnDef="length">
      <th mat-header-cell class="main-header" *matHeaderCellDef > Length [km]</th>
      <td mat-cell *matCellDef="let element"> {{element.length}} </td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="fuel_price">
      <th mat-header-cell class="main-header" *matHeaderCellDef > Fuel price [zł]</th>
      <td mat-cell *matCellDef="let element"> {{element.fuel_price}} </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
        <div class="example-element-detail"
             [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div>
            <mat-tab-group color="primary" dynamicHeight class="mat-card">
              <mat-tab label="Waypoints" class="participants_table">
                <table mat-table [dataSource]="element.landmarks" class="participants">
                  <ng-container matColumnDef="address">
                    <td mat-cell class="participants-cell" *matCellDef="let row"> {{row.address}} </td>
                  </ng-container>
                  <tr mat-row *matRowDef="let row; columns: columnsWaypoints;"></tr>
                </table>
              </mat-tab>
              <mat-tab label="Participants" class="participants_table">
                <table mat-table [dataSource]="element.participants" class="participants">
                  <ng-container matColumnDef="first_name">
                    <td mat-cell class="participants-cell" *matCellDef="let row"> {{row.participant.first_name}} </td>
                  </ng-container>

                  <ng-container matColumnDef="last_name">
                    <td mat-cell class="participants-cell" *matCellDef="let row"> {{row.participant.last_name}} </td>
                  </ng-container>

                  <ng-container matColumnDef="price">
                    <td mat-cell class="participants-cell" *matCellDef="let row"> Price: {{row.price}} </td>
                  </ng-container>

                  <tr mat-row *matRowDef="let row; columns: columnsParticipants;"></tr>
                </table>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
  <div *ngIf="routes.length==0;" class="no-history"> No history yet </div>
</div>
