.example-card {
  margin: 50px;
  width: 20%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.tab-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.full-width {
  width: 100%;
  margin-bottom: 10px;
}

::ng-deep .mat-ink-bar {
  background-color:#669999 !important;
}
