<div class="row" xmlns="http://www.w3.org/1999/html">
  <div class="left">
    <div class="container">
      <h1>Route details</h1>
      <mat-form-field class="full-width" appearance="standard">
        <mat-label>Route name</mat-label>
        <input matInput>
        <mat-icon matSuffix>create</mat-icon>
      </mat-form-field>
      <br>
      <mat-form-field class="small" appearance="standard">
        <mat-label>Average fuel consumption</mat-label>
        <input matInput>
        <mat-icon matSuffix>local_gas_station</mat-icon>
      </mat-form-field>
      <mat-form-field class="small" appearance="standard">
        <mat-label>Fuel price per liter</mat-label>
        <input matInput>
        <mat-icon matSuffix>local_atm</mat-icon>
      </mat-form-field>
      <mat-form-field class="small" appearance="standard">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker #picker></mat-datepicker>
        <mat-icon matSuffix style="cursor: pointer" (click)="picker.open()">calendar_today</mat-icon>
      </mat-form-field>
      <br>
      <button class="button" mat-raised-button>Calculate</button>
      <button class="button" mat-raised-button>Cancel</button>
    </div>

    <div class="container" [formGroup]="waypointsForms">
      <h1>Waypoints</h1>
      <mat-accordion>
        <mat-expansion-panel formArrayName="forms" *ngFor="let waypoint of waypoints">
          <mat-expansion-panel-header>
            <mat-panel-title style="display: flex; align-items: center;">
              <mat-icon>place</mat-icon>
              {{waypoint.address}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field class="full-width" appearance="standard" [formGroupName]="waypoint.position">
            <mat-label>Add a passenger</mat-label>
            <input formControlName="name" matInput>
            <mat-icon (click)="addTraveller(waypoint.position);" matSuffix>group_add</mat-icon>
          </mat-form-field>
          <div class="example-container">
            <h2>Travelling</h2>

            <div
              cdkDropList
              #travellingList="cdkDropList"
              [cdkDropListData]="getTravelling(waypoint.position)"
              [cdkDropListConnectedTo]="[leftList]"
              class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let person of getTravelling(waypoint.position)" cdkDrag>
                {{person.getFullName()}}
                <mat-icon (click)="addTraveller(waypoint.position);" matSuffix>delete</mat-icon>
              </div>
            </div>
          </div>
          <br>
          <div class="example-container">
            <h2>Left</h2>

            <div
              cdkDropList
              #leftList="cdkDropList"
              [cdkDropListData]="waypoint.getOut"
              [cdkDropListConnectedTo]="[travellingList]"
              class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let person of waypoint.getOut" cdkDrag>{{person.getFullName()}}</div>
            </div>
          </div>
          <br>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

  </div>
  <div class="right">
    <div id="map"></div>
  </div>
</div>
